<div class="p-2 flex flex-row gap-2">
  <div>
    <%= image_tag member.avatar_url, class: 'rounded-full w-10' %>
  </div>
  <div class="flex flex-col">
    <p class="nf">
      <%= member.name %>
    </p>
    <div class="flex flex-row">
      <% member.roles.each do |role| %>
        <span class="text-sm text-gray-500">
          <%=t role.role, scope: [:activerecord, :enums, :team_member_roles, :roles] %>
        </span>
      <% end -%>
    </div>
  </div>
</div>
