<div class="flex mb-2">
  <div class="mx-auto w-full lg:w-[64rem]">
    <div class="text-divider-center mb-1">
      <h2 class="text-label">
        プロダクト
      </h2>
    </div>
    <%= content_tag 'turbo-frame', nil, id: 'products', src: products_path %>
    <div class="mt-3">
      <%= link_to '新しいプロダクトを作成する', '#', class: 'btn-sm btn-primary' %>
    </div>
  </div>
</div>
