<%= turbo_frame_tag :product_goals do %>
  <div class="flex flex-col border-y border-solid border-gray-200 divide-y">
    <% if @goals.any? %>
      <%= render partial: 'goal', collection: @goals, as: :goal %>
    <% else %>
      <div class="text-gray-500 py-5 text-center">
        <%= t('.empty') %>
      </div>
    <% end -%>
  </div>
<% end -%>
