<a href="#" class="group block sheet-sm">
  <h3 class="nf font-bold text-xl group-hover-underline">
    <%= product.name %>
  </h3>
  <p class="nf text-sm text-gray-500 mt-2">
    <%= product.vision %>
  </p>
</a>
